.results {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2px;
  padding: 5px;
  height: 50px;
  width: 200px;
  background-color: rgb(253, 142, 90);
  border: 1px rgb(161, 123, 52) solid;
  border-radius: 5px;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.6);
}
.results:hover {
  background-color: rgb(255, 109, 41);
}
