#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style-type: none;
  text-align: left;
}

.search {
  background-color: rgb(205, 230, 221);
  /* height: 30px; */
  padding: 10px;
}
