#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.search {
  background-color: rgb(255, 145, 0);
  /* height: 30px; */
  padding: 10px;
}
